@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
        url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    gap: 20px;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.logo {
    height: 100%;
    width: auto;
}

.logo-name {
    font-family: "norsebold", sans-serif;
    font-size: 120px;
    color: white;
}

.credit {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.credit a {
    color: white;
}

.credit a:hover {
    color: grey;
}

.right-side {
    width: 100%;
    flex-grow: 1;
    padding: 0 200px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    margin-bottom: 100px;
}

.text-container h2:nth-child(2) {
    margin-bottom: 50px;
}

.row {
    display: flex;
    gap: 100px;
}

.input-container {
    display: flex;
    flex-direction: column;
}